@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-map__location {
  fill: #1e1e30;
  border: 20px solid white;
  outline: 20px;
  cursor: pointer;
}

.svg-map__location:hover {
  fill: gray;
  border: 20px solid white;
  outline: 20px;
}

.IndianMap path {
  fill: #1e1e30;
  stroke: #646464;
  stroke-width: 2px;
  stroke-dasharray: 2, 2;
  stroke-linejoin: round;
}
